*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color:#948a71;
    width: 100%;
    height: 100%;
    color:#f2a176;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.cuadro{
    margin: 20px 40px ;
    padding: 2px;
    width: 15em;
    height: 20em;
    border: 1px solid #ff7373 ;
    background-color: #566966;
    border-radius: 10px;
}
.header-tree{
    width: 100%;
    height: 10%;
}
#menu{
    float: left;
}
input{
    border: 1px solid #ff7373 ;
    width: 90%;
    color: #566966;
    background-color: #f2a176;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}
.botones{
    width: 100%;
    margin: 18px 0;
}
.botones>input{
    background-color:#cc9476;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 80%;
    height: 20px;
}
input:focus{
    border:2.5px solid #ff7373 ;
    outline: none;
}
#tree{
    float:left;
    width: 60%;
}
#caja_tree{
    height:90%;
    margin-top: 10px;
    overflow: scroll;
}
.square{
    width:5em;
    height: 5em;
    font-size: 12px;
    float: left;
}
.square:hover{
  background-color: #4d5d59;
  border-radius: 10px;
}
.square>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30px;
    height: 30px;
}
.square>p{
    height: 2.5em;
    font-size: smaller;
    overflow: hidden;
    text-align: center;
}
.oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
#title{
    width:90%;
    margin: 0;
    padding: 0;
    font-size: 11px;
}
.row{
    width: 1em;
    height: 1em;
    margin-left: 2px;
    margin-top: 2px;
}
#alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  padding: 20px;
  border: 1px solid #000;
  background-color: #566966;
  border-radius: 5px;
  width:15em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}