*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    align-items: center;
}
html, body{
    background-color:#948a71;
    width: 100%;
    height: 100%;
    color:#f2a176;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
}   

.cuadro{
    width:98%;
    margin: 2% ;
    padding: 2px;
    border: 1px outset #ff7373 ;
    background-color: #566966;
    border-radius: 10px;
}
.header-tree{
    width: 100%;
    height: 2em;
    padding: 5px;
}
input{
    border: 1px solid #ff7373 ;
    width: auto;
    color: #566966;
    background-color: #f2a176;
    margin-left: 5%;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}
.botones{
    width: 30%;
    float:right;
    margin-right: 10px;
}
.botones>button>img{
    width: 80%;
}
.botones>button{
    background-color:#cc9476;
    width: 3em;
    margin-right:5px ;
    border: 1px solid #ff7373 ;
    height: 2.5em;
    float:right
}
input:focus{
    border:2.5px solid #ff7373 ;
    outline: none;
}
#tree{
    height: 90%;
}
#caja_tree{
    height:calc(100% - 6em);
    margin-top: 10px;
    background-color: #495753;
    padding: 1em;
    overflow-y: scroll;
}
.square{
    width:5em;
    height: 5em;
    font-size: 12px;
    float: left;
}
.square:hover{
  background-color: #4d5d59;
  border-radius: 10px;
}
.square>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30px;
    height: 30px;
}
.square>p{
    height: 2.5em;
    font-size: smaller;
    overflow: hidden;
    text-align: center;
}
.oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
#title{
    width:20%;
    border-radius: 10px;
    height:1em;
    margin-top: 1px;
    margin-left: 1px;
    padding: 1px;
    float:left;
    overflow-x:hidden;
    font-size: 14px;
    background-color: #283531;
}
.row{
    width: 1em;
    height: 1em;
    margin-left: 2px;
    margin-top: 2px;
}
#upArchivo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  padding: 20px;
  border: 1px solid #000;
  background-color: #566966;
  border-radius: 5px;
  width:15em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#crearDir {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10em;
  padding: 20px;
  border: 1px solid #000;
  background-color: #566966;
  border-radius: 5px;
  width:15em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#findFile{
    width: 30%;
    margin:2px;
    padding: 0.5em;
    float:right;
}